<div style="float: left;">
    <p id="addRole" class="nbtn nbtn-primary" onclick="toAddGoodsForm()"><img src="/static/js/GoodManage/images/+.png"><a>增加物品</a></p>
</div>

<div id="base" class="base">

    <!-- Unnamed (Table) -->
    <div id="u0" class="ax_table">

        <!-- Unnamed (Table Cell) -->
        <div id="u1" class="ax_table_cell">
            <img id="u1_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u2" class="text">
                <p><span>物品名称</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u3" class="ax_table_cell">
            <img id="u3_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u4" class="text">
                <p><span>单价</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u5" class="ax_table_cell">
            <img id="u5_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u6" class="text">
                <p><span>数量</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u7" class="ax_table_cell">
            <img id="u7_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u8" class="text">
                <p><span>总价</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u9" class="ax_table_cell">
            <img id="u9_img" class="img " src="/static/js/GoodManage/images/page_1/u9.png"/>
            <!-- Unnamed () -->
            <div id="u10" class="text">
                <p><span>录入时间</span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11" class="ax_table_cell">
            <img id="u11_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u12" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u13" class="ax_table_cell">
            <img id="u13_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u14" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u15" class="ax_table_cell">
            <img id="u15_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u16" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u17" class="ax_table_cell">
            <img id="u17_img" class="img " src="/static/js/GoodManage/images/page_1/u1.png"/>
            <!-- Unnamed () -->
            <div id="u18" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u19" class="ax_table_cell">
            <img id="u19_img" class="img " src="/static/js/GoodManage/images/page_1/u9.png"/>
            <!-- Unnamed () -->
            <div id="u20" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u21" class="ax_table_cell">
            <img id="u21_img" class="img " src="/static/js/GoodManage/images/page_1/u21.png"/>
            <!-- Unnamed () -->
            <div id="u22" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u23" class="ax_table_cell">
            <img id="u23_img" class="img " src="/static/js/GoodManage/images/page_1/u21.png"/>
            <!-- Unnamed () -->
            <div id="u24" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u25" class="ax_table_cell">
            <img id="u25_img" class="img " src="/static/js/GoodManage/images/page_1/u21.png"/>
            <!-- Unnamed () -->
            <div id="u26" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u27" class="ax_table_cell">
            <img id="u27_img" class="img " src="/static/js/GoodManage/images/page_1/u21.png"/>
            <!-- Unnamed () -->
            <div id="u28" class="text">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u29" class="ax_table_cell">
            <img id="u29_img" class="img " src="/static/js/GoodManage/images/page_1/u29.png"/>
            <!-- Unnamed () -->
            <div id="u30" class="text">
                <p><span></span></p>
            </div>
        </div>
    </div>
</div>



<!--添加或者修改物品弹窗-->
<div class="modal fade" id="addGoodsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myGoodsModalLabel">添加物品</h4>
            </div>
            <form action="/goodsmanagement/addGoods" method="POST" id="addGoodsForm">
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">物品名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="goodsName" id="goodsNameInput" placeholder="请输入物品名称">
                            </div>
                            <label for="name" class="col-sm-2 control-label">物品单价</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="goodsUnitPrice" id="goodsUnitPriceInput" placeholder="请输入物品单价">
                            </div>
                            <label for="name" class="col-sm-2 control-label">物品数量</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="goodsCount" id="goodsCountInput" placeholder="请输入物品数量">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="submitButton" value="确定" onclick="submitForm()" class="btn btn-primary">
                        <input type="button" id="cancleButton" value="取消" onclick="cancelForm()" class="btn btn-primary">
                    </div>
                </div>
                <input type="hidden" name="goodsId" value="" id="goodsIdInput">
            </form>
        </div>
    </div>
</div>
