<!DOCTYPE html>
<div class="contentWrap" style="height:650px;">
    <div class="main advertiseOne">
        <div class="main_right">
            <div class="login">
                <form method="post" id="form1" action="$request.getContextPath()/" commandName="${commandName}" htmlEscape="true">
                    <div class="user_main">
                        <div class="comming">
                            <spring:message code="screen.welcome.instructions"/>
                        </div>
                        <div class="input_div" style="border-bottom:none; margin-top:10px;">
                            <input type="text" id="txtUsername" class="entry_input" placeholder="用户名"
                                   tabindex="1" accesskey="${userNameAccessKey}" autocomplete="off"
                                   htmlEscape="true"/>
                            <span class="usernameBlock"></span>
                            <input type="hidden" id="username" name="loginName" path="username"/>
                        </div>
                        <div class="input_div" style="border-bottom:none; margin-top:10px;">
                            <input type="password" name="password" id="password" class="entry_input" placeholder="密&nbsp;&nbsp;&nbsp;码"
                                   accesskey="${passwordAccessKey}" path="password" tabindex="2"/>
                            <span class="password"></span>
                        </div>

                        <div class="errors warnmsg">
                            $!{errorMsg}
                            <form:errors path="*" id="msg" element="div" htmlEscape="false"/>
                        </div>
                        <div>
                            <input type="hidden" name="lt" value="${loginTicket}"/>
                            <input type="hidden" name="execution" value="${flowExecutionKey}"/>
                            <input type="hidden" name="_eventId" value="submit"/>

                            <input class="btn login_btn mouseout" name="submit" accesskey="l" tabindex="4"
                                   type="submit" value="立即登录"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

